<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!--如果系统配置和properties配置中存在相同的key 以系统为主-->
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath:runTime.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath*:spring-config-dao.xml"/>
    <import resource="classpath*:spring-config-service.xml"/>
</beans>